.media-item {
  margin: 15px;
  padding: 0 25px;
  border: 1px solid #aeaeae;
  border-radius: 8px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
